<!DOCTYPE html>
<html>

<head>

<title>Water Quality Monitoring</title>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>

body{
font-family: Arial;
padding:40px;
background:#f5f7fb;
}

.sensor-box{
display:flex;
gap:20px;
margin-bottom:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:15px;
border-radius:8px;
box-shadow:0 0 5px rgba(0,0,0,0.1);
width:150px;
text-align:center;
}

.result{
margin-top:20px;
padding:20px;
border-radius:10px;
font-size:20px;
}

.safe{
background:#e6fff0;
border:2px solid green;
}

.unsafe{
background:#ffe6e6;
border:2px solid red;
}

.alert{
background:#fff5e6;
border:2px solid orange;
}

</style>

</head>

<body>

<h1>Water Quality Monitoring Dashboard</h1>

<div class="sensor-box">

<div class="card">pH<h3 id="ph">--</h3></div>
<div class="card">Turbidity<h3 id="turb">--</h3></div>
<div class="card">Temperature<h3 id="temp">--</h3></div>
<div class="card">MQ (Ammonia)<h3 id="mq">--</h3></div>
<div class="card">TDS<h3 id="tds">--</h3></div>
<div class="card">Water Level<h3 id="waterlevel">--</h3></div>
<div class="card">DO<h3 id="do">--</h3></div>
<div class="card">BOD<h3 id="bod">--</h3></div>

</div>

<div id="resultBox" class="result"></div>
<div id="spikeBox" class="result alert"></div>
<div id="adviceBox" class="result alert"></div>

<br>

<h2>Sensor Analytics</h2>

<canvas id="chart" width="900" height="350"></canvas>

<script>

const ctx = document.getElementById("chart").getContext("2d")

let chart = new Chart(ctx,{
type:"line",
data:{
labels:[],
datasets:[
{label:"pH",data:[],borderColor:"green"},
{label:"Turbidity",data:[],borderColor:"blue"},
{label:"Temperature",data:[],borderColor:"red"},
{label:"MQ",data:[],borderColor:"orange"},
{label:"TDS",data:[],borderColor:"purple"},
{label:"Water Level",data:[],borderColor:"black"},
{label:"DO",data:[],borderColor:"brown"},
{label:"BOD",data:[],borderColor:"cyan"}
]
},
options:{animation:false}
})

function updateChart(data){

const time = new Date().toLocaleTimeString()

chart.data.labels.push(time)

chart.data.datasets[0].data.push(data.ph)
chart.data.datasets[1].data.push(data.turbidity)
chart.data.datasets[2].data.push(data.temperature)
chart.data.datasets[3].data.push(data.do)
chart.data.datasets[4].data.push(data.bod)
chart.data.datasets[5].data.push(data.waterlevel)
chart.data.datasets[6].data.push(data.do)
chart.data.datasets[7].data.push(data.bod)

if(chart.data.labels.length>15){

chart.data.labels.shift()

chart.data.datasets.forEach(dataset=>{
dataset.data.shift()
})

}

chart.update()

}

setInterval(async()=>{

const res = await fetch("/latest")
const data = await res.json()

if(!data.ph) return

document.getElementById("ph").textContent=data.ph.toFixed(2)
document.getElementById("turb").textContent=data.turbidity
document.getElementById("temp").textContent=data.temperature.toFixed(2)
document.getElementById("do").textContent=data.do.toFixed(2)
document.getElementById("bod").textContent=data.bod.toFixed(2)
document.getElementById("waterlevel").textContent=data.waterlevel

const resultBox=document.getElementById("resultBox")

resultBox.textContent=data.result

if(data.result.includes("Bad") || data.result.includes("Drought")){
resultBox.className="result unsafe"
}else{
resultBox.className="result safe"
}

document.getElementById("spikeBox").textContent=data.spike
document.getElementById("adviceBox").textContent=data.advice

updateChart(data)

},2000)

</script>

</body>
</html>